$colorLetraPrincipal: #000;
$colorFondo: #FFF;
$colorBorde: rgba(0, 0, 0, 0.25);
$colorFondoCuadros: #FAFAFA;
$colorVerComentarios: #A49B9B;
$colorAbril: #808080;
$colorCambiar: #1CA0F6;
$fondoFooter: #222;